@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: grey;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

body::before {
  content: '';
  position: absolute;
  top: -150px; left: -150px;
  width: 200%; height: 200%;
  background: repeating-linear-gradient(30deg, #8e38e4, #ad296b, #8e38e4);
  filter: blur(40px);
  z-index: -100;
}

.rainbow-text {
  background: linear-gradient(20deg, #48ca28, #ffee00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.triangle {
  width: 0;
  height: 0;
  border-color: transparent;
  border-top-width: 0px;
  border-left-width: 8px;
  border-right-width: 8px;
  border-bottom-width: 16px;
  border-bottom-color: theme('colors.gray.200');
  rotate: 90deg;
  border-radius: 3px;
}
